.footerlogo1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 25px;
}
.container1 {
  max-width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 15px;
}
.btnnn1 {
  background-color: transparent;
  font-size: 12px;
  padding: 10px 25px;
  border-radius: 2px;
  width: 100%;
  border: 1px solid;
  display: block;
}
/* */
@media all and (min-width: 250px) and (max-width: 620px) {
  .container2 {
    display: flex;
  }
  .container1 {
    display: none;
  }
  .btnnn1{
    display: none;
  }
}
@media all and (min-width: 720px) and (max-width: 3000px) {
  .container2 {
    display: none;
  }
  .container1 {
    display: flex;
  }
}
