* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: benton-sans, Helvetica, "Sans-serif";
  -webkit-text-size-adjust: 100%;
}
.slider2Container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, #00000038 0px 10px 10px;
  width: 23%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  font-weight: 400;
  padding: 10px 0px;
  transition: all 0.5s cubic-bezier(0.16, 0.8, 0.45, 1);
}
.slider2Container1 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, #00000038 0px 10px 10px;
  width: 23%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  font-weight: 400;
  padding: 10px 0px;
  transition: all 0.5s cubic-bezier(0.16, 0.8, 0.45, 1);
}
.slider2Container2 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, #00000038 0px 10px 10px;
  width: 23%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  font-weight: 400;
  padding: 10px 0px;
  transition: all 0.5s cubic-bezier(0.16, 0.8, 0.45, 1);
}
.slider2Container3 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, #00000038 0px 10px 10px;
  width: 23%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: smaller;
  font-weight: 400;
  padding: 10px 0px;
  transition: all 0.5s cubic-bezier(0.16, 0.8, 0.45, 1);
}
.pricedes {
  display: flex;
  width: 88%;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: -3px;
}
.information {
  text-align: left;
  width: 88%;
  font-size: 16px;
  margin-bottom: 4px;
}
.days {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  margin-top: 5px;
}
.days img {
  width: 25px;
  height: 25px;
}
.information > p:first-child {
  font-size: larger;
  font-weight: 600;
  margin-bottom: 0px;
  height: 60px;
  line-height: 20px;
}
.featuring {
  display: flex;
  width: 88%;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 7px;
}
.featuring img {
  width: 22px;
  height: 22px;
}
.featuring h4 {
  color: #088366;
}

.avatar {
  width: 100%;
  height: 250px;
}
.pricecontainer {
  width: 88%;
}
.displayslider {
  display: flex;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  position: relative;
}
.prenex1 {
  opacity: 0.8;
  border: 2px solid;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 4%), 0 0 4px 0 rgb(0 0 0 / 4%),
    0 0 12px 0 rgb(0 0 0 / 8%);
  position: absolute;
  top: 50%;
  left: -4%;
  width: 45px;
  height: 45px;
}
.prenex1 > img {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
}
.prenex2 {
  opacity: 0.8;
  border: 2px solid;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 4%), 0 0 4px 0 rgb(0 0 0 / 4%),
    0 0 12px 0 rgb(0 0 0 / 8%);
  position: absolute;
  right: -4%;
  top: 50%;
  width: 45px;
  height: 45px;
}
.prenex2 > img {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
}
.prenex2:hover {
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
}
.prenex1:hover {
  background-color: #2a2a2a;
  border: 1px solid #2a2a2a;
}
.PopularProjects {
  font-size: larger;
  font-weight: 500;
  width: 78%;
  margin: auto;
  text-align: left;
  margin-top: 10px;
}
@media all and (max-width: 480px) and (min-width: 320px) {
  .slider2Container1,
  .slider2Container2,
  .slider2Container3 {
    display: none;
  }
  .slider2Container {
    width: max-content;
  }
  .prenex1,
  .prenex2 {
    top: 55%;
  }
  .prenex1 {
    left: -10%;
  }
  .prenex2 {
    right: -10%;
  }
}
@media all and (min-width: 480px) and (max-width: 720px) {
  .slider2Container2,
  .slider2Container3 {
    display: none;
  }
  .slider2Container,
  .slider2Container1 {
    width: 45%;
  }
}
@media all and (max-width: 1200px) and (min-width: 720px) {
  .slider2Container3 {
    display: none;
  }
  .slider2Container,
  .slider2Container1,
  .slider2Container2 {
    width: 30%;
  }
}
